@keyframes img-show-left {
    from {
        transform: translateX(-105%);
    } 
    to {
        transform: translateX(0);
    }
}

@keyframes img-show-right {
    from {
        transform: translateX(105%);
    } 
    to {
        transform: translateX(0);
    }
}

@keyframes img-show-two-left {
    from {
        transform: translateX(-230%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes img-show-two-right {
    from {
        transform: translateX(230%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes left-first-an {
    from {
        top: 1%;
        right: 1%;
    }
    25% {
        top: 50%;
        right: 1%;
    }
    50% {
        top: 50%;
        right: 50%;
    }
    75% {
        top: 1%;
        right: 50%;
    }
    to {
        top: 1%;
        right: 1%;
    }
}

@keyframes left-second-an {
    from {
        top: 50%;
        right: 1%;
    }
    25% {
        top: 50%;
        right: 50%;
    }
    50% {
        top: 1%;
        right: 50%;
    }
    75% {
        top: 1%;
        right: 1%;
    }
    to {
        top: 50%;
        right: 1%;
    }
}

@keyframes left-third-an {
    from {
        top: 50%;
        right: 50%;
    }
    25% {
        top: 1%;
        right: 50%;
    }
    50% {
        top: 1%;
        right: 1%;
    }
    75% {
        top: 50%;
        right: 1%;
    }
    to {
        top: 50%;
        right: 50%;
    }
}

@keyframes left-fourth-an {
    from {
        top: 1%;
        right: 50%;
    }
    25% {
        top: 1%;
        right: 1%;
    }
    50% {
        top: 50%;
        right: 1%;
    }
    75% {
        top: 50%;
        right: 50%;
    }
    to {
        top:1%;
        right: 50%;
    }
}