@import url(./animation.css);

:root {
    font-size: 10px;
    --main-font: 'Rosario', sans-serif;
    --secondary-font: 'Volkhov', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

section {
    margin-bottom: 10vh;
}

.header-box {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    list-style: none;
    width: 55%;
    max-width: 1024px;
    min-width: 800px;
    justify-content: space-between;
    margin: 2rem;
    min-height: 100%;
}

.nav-item {
    margin-right: 1rem;
}

.logo {
    height: 100%;
}

.img-logo {
    max-height: 100%;
}

.nav a {
    color: #FFFCFC;
    text-decoration: none;
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 700;
    font-size: 3.3vh;
}

/*screen1*/

.screen {
    min-height: 90vh;
    overflow: hidden;
    display: flex;
    height: 90vh;
    justify-content: space-between;
    padding: 70px 45px;
}

.screen > div {
    width: 23%;
}


.left-one,
.right-one {
    align-self: center;
    display: flex;
    justify-content: center;
}

.left-one {
    transform: translateX(-105%);
    animation: img-show-left 2s linear 1 forwards;
}

.right-one {
    transform: translateX(105%);
    animation: img-show-right 2s linear 1 forwards;
}

.left-one img,
.right-one img {
    max-width: 370px;
    width: 100%;
}

.left-two,
.right-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-two > img:first-child,
.right-two > img:first-child {
    margin-bottom: 2.5rem;
}

.left-two {
    transform: translateX(-230%);
    animation: img-show-two-left 1s linear 1 forwards;
}

.right-two {
    transform: translateX(230%);
    animation: img-show-two-right 1s linear 1 forwards;
}

/*screen2*/

.services {
    display: flex;
    overflow: hidden;
    height: 90vh;
}

.services .left {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.services .right {
    width: 40%;
}

.services .left > div {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.services .left > div > img {
    width: 80%;
    height: 80%;
}

.services-title {
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 700;
    font-size: 4.4vh;
}

.left-first {
    top: 1%;
    right: 1%;
    animation: left-first-an 10s linear infinite;
}

.left-second {
    top: 1%;
    right: 50%;
    animation: left-second-an 10s linear infinite;
}

.left-third {
    top: 50%;
    right: 50%;
    animation: left-third-an 10s linear infinite;
}

.left-fourth {
    top: 50%;
    right: 1%;
    animation: left-fourth-an 10s linear infinite;
}

/*screen3*/
.team {
    position: relative;
    overflow: hidden;
}

.team-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 8.8vh;
    height: 10vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.team-foto {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin: 0 auto;
}

.team-name {
    height: 90%;
    margin: 20px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
} 

.team-foto .name {
    color: #fff;
    background: rgba(163, 83, 10, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    overflow: hidden;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 4.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.team-foto > .team-name:hover .name {
    height: 25%;
}

.team-img {
    height: 100%;
}

.team-img > img {
    height: 100%;
    width: 100%;
    background-position: center;
}

.team-foto:hover > div {
    filter: brightness(.5);
}

.team-foto > div:hover {
    filter: none;
}

/*screen4*/

.contacts {
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
}

.form {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.form-input {
    background: #E5E5E5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.form-title {
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 700;
    font-size: 5.9vh;
    text-align: center;
    margin-bottom: 35px;
}

input {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.3vh;
    margin-bottom: 40px;
    padding: 20px 15px;
    width: 48%;
    border-style: none;
}

textarea {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.3vh;
    width: 100%;
    padding: 20px 15px;
    border-style: none;
    resize: none;
}

.map {
    width: 40%;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 2.7vh;
    margin: 0 160px;
}

span {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
}

.text-hours {
    margin-bottom: 3rem;
}

.social-icons {
    padding-left: 20px;
    cursor: pointer;
}

.social-icons li a {
    display: flex;
    align-items: center;
}

.img-icon {
    margin-right: 10px;
}
