body {
    margin: 0;
}

.body-container {
    min-width: 700px;
    max-height: 1000px;
}

.hero-container {
    color: #FFFFFF;
    background-image: url("../img/header_title.svg"), url("../img/background_header.svg");
    background-repeat: no-repeat;
    background-size: 70%, cover;
    background-position: 53% 30%, 100%;
    min-height: 700px;
    margin-bottom: 50px;
}

.main-container {
    padding: 0 110px 0;
    margin-bottom: 40px;
}

.main-title  {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 0.5;
}

.main-container-menu {
    display: inline-block;
    text-align: center;
    width: 100%;
}



.card-gallery {
    background-image: url("../img/galery_first.svg"), url("../img/galery_word.svg");
}

.card-sport {
    background-image: url("../img/galery_second.svg"), url("../img/sport_word.svg");
}

.card-more {
    background-image: url("../img/galery_third.svg"), url("../img/more_word.svg");
}

.card-gallery,
.card-sport,
.card-more {
    background-color: #231B0C;;
    background-size: 70%, 30%;
    background-position: 50% 80%, 50% 15%;
    background-repeat: no-repeat;
    width: 400px;
    height: 460px;
    display: inline-block;
    margin: 0 34px 40px 0;
}

.card-more {
    margin-right: 0;
}



.container-img {
    text-align: center;
}

.img-venice {
    width: 100%;

}

.footer-container {
    width: 100%;
    background-color: #150F02;
    background-image: url(../img/entertaiment_word.svg), url(../img/restorants_word.svg),
    url(../img/shops_word.svg), url(../img/art_word.svg), url(../img/orange_line.svg);
    background-repeat: no-repeat;
    background-size: 10%, 10%, 5%, 3%, 20%;
    background-position: 30% 20%, 30% 40%, 65% 20%, 65% 40%, 50% 55%;
    padding: 128px 0 65px;

}

.contacts-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.15em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;
}

.item-contacts > li {
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

.item-contacts {
    text-align: center;
    padding-left: 0;
}