@import url(./animation.css);

:root {
    font-size: 10px;
    --main-font: 'Rosario', sans-serif;
    --secondary-font: 'Volkhov', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

section {
    margin-bottom: 10vh;
}

.header-box {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    list-style: none;
    width: 100%;
    max-width: 1024px;
    margin: 2rem;
    min-height: 100%;
}

.nav-mob {
    display: none;
}

.nav-item {
    margin-right: 3rem;
}

.logo {
    height: 100%;
}

.img-logo {
    max-height: 100%;
}

.nav a {
    color: #FFFCFC;
    text-decoration: none;
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 700;
    font-size: 3.3vh;
}

/*screen1*/

.screen {
    min-height: 90vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 45px;
    margin: 0 auto;
}

.screen > div {
    width: 23%;
}


.left-one,
.right-one {
    align-self: center;
    display: flex;
    justify-content: center;
}

.left-one {
    transform: translateX(-105%);
    animation: img-show-left 2s linear 1 forwards;
}

.right-one {
    transform: translateX(105%);
    animation: img-show-right 2s linear 1 forwards;
}

.left-one img,
.right-one img {
    max-width: 370px;
    width: 100%;
}

.left-two,
.right-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-two > img:first-child,
.right-two > img:first-child {
    margin-bottom: 2.5rem;
}

.left-two {
    transform: translateX(-230%);
    animation: img-show-two-left 1s linear 1 forwards;
}

.right-two {
    transform: translateX(230%);
    animation: img-show-two-right 1s linear 1 forwards;
}

/*screen2*/

.services {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 90vh;
    flex-wrap: wrap;
    margin: 0 auto;
}

.services .left {
    width: 50%;
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: relative;
    height: 100%;
}

.services .right {
    width: 50%;
    /* height: 100%; */
}

.services .right img {
    width: 100%;
    height: 100%;
}

.services .left > div {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.services .left > div > img {
    width: 80%;
    height: 80%;
}

.services-title {
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 700;
    font-size: 4.4vh;
}

.left-first {
    top: 1%;
    right: 1%;
    animation: left-first-an 10s linear infinite;
}

.left-second {
    top: 1%;
    right: 50%;
    animation: left-second-an 10s linear infinite;
}

.left-third {
    top: 50%;
    right: 50%;
    animation: left-third-an 10s linear infinite;
}

.left-fourth {
    top: 50%;
    right: 1%;
    animation: left-fourth-an 10s linear infinite;
}

/*screen3*/
.team {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.team-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 8.8vh;
    height: 10vh;
    text-align: center;
    padding: 1rem;
}

.team-foto {
    display: flex;
    justify-content: space-between;
    height: 70vh;
    margin: 0 auto;
}

.team-name {
    height: 90%;
    margin: 2%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
} 

.team-foto .name {
    color: #fff;
    background: rgba(163, 83, 10, 0.7);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    overflow: hidden;
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 4.4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: height 1s;
}

.team-foto > .team-name:hover .name {
    height: 25%;
}

.team-img {
    height: 100%;
}

.team-img > img {
    height: 100%;
    width: 100%;
}

.team-foto:hover > div {
    filter: brightness(.5);
}

.team-foto > div:hover {
    filter: none;
}

/*screen4*/

.contacts {
    display: flex;
    justify-content: space-between;
    padding: 50px 160px;
    margin: 0 auto;
}

.form {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.form-input {
    background: #E5E5E5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.form-title {
    font-family: var(--main-font);
    font-style: italic;
    font-weight: 700;
    font-size: 5.9vh;
    text-align: center;
    margin-bottom: 35px;
}

input {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.3vh;
    margin-bottom: 40px;
    padding: 20px 15px;
    width: 48%;
    border-style: none;
}

textarea {
    color: rgba(0, 0, 0, 0.5);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.3vh;
    width: 100%;
    padding: 20px 15px;
    border-style: none;
    resize: none;
}

.map {
    width: 40%;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: var(--main-font);
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 2.7vh;
    margin: 0 160px;
}

span {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
}

.text-hours {
    margin-bottom: 3rem;
}

.social-icons {
    padding-left: 20px;
    cursor: pointer;
}

.social-icons li a {
    display: flex;
    align-items: center;
}

.img-icon {
    margin-right: 10px;
}

/*media*/

@media screen and (max-width: 992px) {
    
    section {
        margin-bottom: 5vh;
    }

    .nav a {
        font-size: 2vh;
    }
    
    .left-one {
        order: 1;
        margin-bottom: 2rem;
    }

    .right-one {
        order: 2;
        margin-bottom: 2rem;
    }
    .left-two {
        order: 3;
    }

    .right-two {
        order: 4;
    }

    .screen > div {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
    }
       
    .screen {
        padding: 30px 45px 0 45px;
    }

    .screen,
    .team,
    .contacts {
        height: 100%;
    }

    .services {
        height: 100%;
    }

    .screen div img {
        width: 100%;
    }

    .left-one {
        animation: img-show-left 1s linear 1 forwards;
    }
    
    .right-one {
        animation: img-show-right 1s linear 1 forwards;
    }

    .services .left {
       order: 2;
       width: 100%;
       height: 100vh;
    }

    .services .left > div > img { 
        width: 60%;
        height: 60%;
    }
    
    .services .right {
        order: 1;
        width: 100%;
    }

    .services-title {
       font-size: 3vh;
    }

    .team-title {
        font-size: 6vh;
    }

    .team-foto {
        height: 100%;
        flex-wrap: wrap;
    }
    
    .team-name {
        width: 45%;
    } 
    
    .contacts {
        flex-wrap: wrap;
        padding: 30px 70px;
    }

    .form,
    .map {
        width: 100%;
    }

    .form {
        margin-bottom: 20px;
    }

    .map {
        min-height: 500px;
    }

    .footer {
        margin: 0 80px;
    }
}

@media screen and (max-width: 768px) {

    .nav {
        display: none;
    }

    .nav-mob {
        display: block;
    }

    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }

    .offcanvas.offcanvas-end {
        width: 200px;
    }

    .left-one {
        order: 1;
        margin-bottom: 2rem;
    }

    .right-one {
        order: 2;
        margin-bottom: 2rem;
    }
    .left-two {
        order: 3;
        margin-bottom: 2rem;
    }

    .right-two {
        order: 4;
    }

    .left-one img, .right-one img {
        max-width: 100%;
    }

    .left-two-last,
    .right-two-last {
    transform: translateX(230%);
    animation: img-show-two-right 1s linear 1 forwards;
    }

    .right-two-first,
    .left-two-first {
        transform: translateX(-230%);
        animation: img-show-two-left 1s linear 1 forwards;
    }

    .left-two,
    .right-two {
        transform: translateX(0);
        animation: none;
    }

    .screen > div {
        width: 100%;
    }

    .right {
        display: none;
    }

    .team-name {
        width: 100%;
    } 

    .form{
        order: 2;
    }
    
    .map {
        order: 1;
        margin-bottom: 3.5rem;
    }

    .team-title {
        font-size: 5vh;
        padding: 0 25x;
    }

    .team-name {
        margin: 2% 0;
    }

    .team-foto {
        padding: 0 45px;
    }

    .footer {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .footer div {
        margin-bottom: 2rem;
    }

    .text-hours {
        margin-bottom: 0;
    }
}
