body {
    color: #000;
    background: linear-gradient(to right, rgba(81, 120, 121, 1), rgba(33, 65, 89, 1));
    font-family: 'Space Grotesk';
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.box {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1000px;
}

.box-form {
    background-color: rgba(255, 255, 255, 1);
    width: 56%;
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
    padding-bottom: 37px;
}

.box-form-title {
    background: linear-gradient(to right, rgba(73, 111, 116, 1), rgba(110, 145, 149, 1), rgba(45, 79, 97, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    display: table;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin: 11px 0 68px 32px;
}

.box-form-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.8;
    margin: 0 auto;
    width: 40%;
}

.form {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 100px;
}

form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input, select {
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    padding: 5px 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

.input-password {
    font-size: 20px;
    max-height: 25px;
    padding: 0 7px;
}

.box-text {
    background: linear-gradient(to right, rgba(81, 120, 121, 1), rgba(33, 65, 89, 1));
    box-shadow: 0px 0px 10px 9px #4E7577;
    width: 44%;
}

.password-text {
    color: #A8A8A8;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.6;
}

.login {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    width: 30%;
    margin: 0 auto ;
}

.login-question {
    color: #C4C4C4;
}

.login-text {
    color: #476D73;
}

.input-button {
    color: #fff;
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 94px;
}

.blockquote {
   padding: 190px 70px 0 60px;
}

.blockquote p {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
}

.blockquote cite {
    color: rgba(255, 255, 255, 1);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.nav-list {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: auto;
    padding: 8px 12px;
}

