html {
    font-size: 10px;
    --color-white: white;
    --color-orange: #ffb742;
    --background-color-main: #212529;
    --background-color-icons: #383E45;
    --background-color-footer: #1C1C1C;
    --main-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --third-font: 'Inter', sans-serif;
    --font-footer: 'Work Sans', sans-serif;
}

.body {
    background-color: var(--background-color-main);
} 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.header {
    display: flex;
    width: 100%;
    max-width: 130rem;
    justify-content: space-between;
    align-items: center;
    padding: 2.3rem 5rem;
    margin: 0 auto;
}

.nav {
    width: 43rem;
    align-items: center;
}

.nav > ul {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-text {
    color: var(--color-white);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
}

.nav-text:hover {
    color: var(--color-orange)
}

.button-main {
    color: var(--background-color-main);
    background-color: var(--color-orange);
    width: 12.1rem;
    border: .2rem solid #FFB742;
    border-radius: 50px;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    align-items: center;
    cursor: pointer;
    padding: 1.2rem 0;
}

.hero-box {
    color: var(--color-white);
    font-family: var(--third-font);
    font-style: normal;
    width: 100%;
    text-align: center;
    margin: 9.5rem auto 15rem;
}

.hero-box h2 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.5;
}

.hero-box h1 {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.9;
}

.hero-box p {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.1;
}

.hero-name {
    color: var(--color-orange);
    border-bottom: .2rem solid var(--color-orange);
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    max-width: 130rem;
}

.card {
    width: 31.5%;
    background: #292b2e;
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    transition: 2s;
}

.card:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
    transition: 5s;
}

.card:hover .card-title, .card:hover .card-subtitle{
    color: #212529;
}

.card-title {
    font-size: 3.2rem;
    color: var(--color-orange);
}
.card-subtitle {
    font-size: 1.6rem;
    color: var(--color-white);
}

.card-img {
    background-color: var(--color-white);
    width: 6.4rem;
    height: 6.4rem;
    padding: 1.2rem;
    border-radius: 50%;
}

.hero-section {
    display: flex;
    justify-content: center;
    margin: 22rem auto 0;
    width: 100%;
    max-width: 130rem;
}

.hero-descr {
    display: flex;
    vertical-align: auto;
    flex-direction: column;
    width: 45%;
    margin: 2rem 5rem 0 7.5rem;
}

.hero-img {
    width: 50%;
}

.hero-title,
.skills-title,
.work-title,
.comments-title {
    color: var(--color-orange);
    background-color: rgba(255, 255, 255, 0.08);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 5rem;
    text-transform: uppercase;
    padding: .6rem 2.5rem;
    width: 17.8rem;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 1.2rem;
}

.hero-about {
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 0.6;
    margin-bottom: 3rem;
}

.hero-text {
    color: #D5D5D5;
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 5.4rem;
}

.section-skills {
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    margin: 2rem auto 13.6rem;
    width: 100%;
    max-width: 130rem;
}

.skills-descr {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 5rem;
}

.skills-descr h2 {
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding: 1rem;
}

.skills-descr p {
    color: var(--color-white);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.8;
    margin-bottom: 7.5rem;
    padding: 1rem;
}

.icons-box {
    display: flex;
    justify-content: space-between;
    width: 45%;
    max-width: 58rem;
    height: 18rem;
    flex-wrap: wrap;
}

.icons-box > div:hover {
    background-color: var(--color-orange);
}

.icons-box > div {
    background-color: var(--background-color-icons);
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.6rem 1.6rem 0;
}

.section-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 13.5rem;
}

.section-work h2 {
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 1.1;
    margin-bottom: 3rem;
}

.nav-work {
    width: 50%;
    max-width: 65rem;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 4.8rem;
}

.nav-work ul {
    display: flex;
    justify-content: space-between;
}

.nav-work-list li {
    border-radius: .3rem;
    padding: .5rem 2rem;
}

.nav-work-list li:hover {
    background-color: var(--color-orange);
}

.nav-work-text {
    color: var(--color-white);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.8;
}

.nav-work-list li:hover a {
    color: #000;
}

.works-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 123rem;
    margin: 0 auto;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
}

.box-img-first {
    margin-bottom: 3rem;
}

.comments-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9rem;
}

.comments-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 123rem;
    margin: 0 auto 25rem;
    flex-wrap: wrap;
}

.comments-text {
    color: var(--color-white);
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.4;
}

footer {
    background-color: var(--background-color-footer);
    width: 100%;
}

.footer {
    color: var(--color-white);
    max-width: 130rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 15rem 1rem 9rem;
}

.footer-title {
    color: var(--color-orange);
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 100%;
}

.footer-text {
    color: #D4D4D4;
    font-family: var(--font-footer);
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2;
}

.footer-subtitle {
    color: #F5FBF2;
    font-family: var(--font-footer);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.6;
}

.nav-footer,
.socials-footer {
   color: #7B7B7B;
   font-family: var(--font-footer);
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2;
}

.nav-footer:hover,
.socials-footer:hover {
    color: var(--color-orange);
}

.footer-subtitle-text {
    color: #7B7B7B;
    font-family: var(--font-footer);
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2;
}

.hero-img img{
    width: 100%;
}
