html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #243B93;
}

.header-box {
    color: #FFF;
    background-color: #243B93;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;  
    width: 95%;
    margin: 0 auto;
}

.header-logo-img {
    width: 140px;
}

nav {
    width: 55%;
}

.nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > li {
    display: inline-block; 
    text-align: center;    
}

.nav > li > a {
    color: #FFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: 0.16em;
    text-decoration: none;
}

.img-lang {
    display: flex;
    align-items: center;
}

.img-lang > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    text-transform: uppercase;
    margin-left: 1rem;
}

.main-title {
    background-color: #BFF0FF;
}

.main-title > h1 {
    color: #202846;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    line-height: 1.3;
    margin: 0 auto;
    padding: 14px 0; 
    width: 75%;
}

.main-menu {
    background-color: #FBE4FF;
    padding: 30px 0; 
}

.dropdown-box {
    background-color: #FFF;
    padding: 10px 0;
    position: relative;
    width: 75%;
    margin: 0 auto 30px;
}

.dropdown-box > img {
    position: absolute;
    right: 16px;
    top: 16px;
}

.dropdown {
    color: rgba(0, 0, 0, 0.61);
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    vertical-align: middle;
}

.menu-item {
    background: linear-gradient(to right, rgba(169, 203, 214, 1), rgba(1, 175, 230, 1));
    position: relative; 
    display: flex;
    padding: 33px 53px 21px 52px; 
    width: 75%;
    margin: 0 auto 42px;
}

.menu-item:hover {
    background: linear-gradient(rgba(44, 189, 235, 1));
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.menu-item:hover > .img-star{
    fill: #FFF500;
}

.menu-item-img {
    width: 40%;
}

.menu-item-img img {
    width: 100%;
}

.menu-title {
    color: #353C57;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    border-bottom: 2px solid #FFF;
    margin-bottom: 13px;
}

.menu-descr {
    color: #202846;
    background-color: #FFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    width: 100%;
    min-height: 176px;
    padding: 10px 118px 10px 16px; 
}

.menu-text {
    margin-left: 30px;
    width: 60%;
}

.img-star {
    position: absolute;
    right: 8px;
    top: 8px;
    fill: #FFF;
}

.button {
    color: #FFF;
    background: #243B93;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    width: 210px;
    height: 46px;
    border-radius: 30px;
    position: absolute;
    bottom: 11px;
    right: -30px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
background: #EF075B;
}

.aside {
    background: linear-gradient(to right, rgba(255, 230, 1, 1), rgba(85, 214, 255, 1));
    padding: 14px 0;
}

.aside-title {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    color: #243B93;
    vertical-align: middle;
    margin: 0 auto;
    width: 75%;
}

.user-box {
    background-color: #FBE4FF;
    padding: 30px 0;
    text-align: center;

}

.user-box-content {
    background: linear-gradient(to top, rgba(105, 255, 210, 0.5), rgba(133, 158, 255, 1));
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px;
    width: 75%;
}

.user-icon {
    margin-bottom: 30px;
}

.button-change, 
.button-settings {
    color: #FFF;
    background-color: #243B93;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    cursor: pointer;
}

.button-change:hover, 
.button-settings:hover,
.button-exit:hover {
    background-color: #EF075B;
}

.button-change {
    margin-bottom: 26px;
}


.button-exit {
    color: #FFF;
    background-color: #243B93;
    border-radius: 30px;
    width: 174px;
    height: 50px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    text-transform: uppercase;
    cursor: pointer;
}

.user-information {
    color: #353C57;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 3.6rem;
    width: 70%;
    text-align: start;
}

.user-information > p {
    border-bottom: 2px solid #FFF;
    line-height: 66px;
}

.user-information > p > span {
    font-weight: 400;
}

.user-settings-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

footer {
    background-color: #FBE4FF;
}

.contacts {
    background: linear-gradient(to right, rgba(84, 214, 255, 1), rgba(255, 230, 0, 1));
    padding: 14px 0;
}

.contacts-title {
    color: #243B93;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 4.4rem;
    vertical-align: middle;
    margin: 0 auto;
    width: 75%;
}

.contacts-descr {
    background-color: #FBE4FF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 41px;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    width: 75%;
    margin: 0 auto;
}

.adress-text {
    text-decoration: none;
    color: #000;
}

.adress-title {
    border-bottom: 3px solid #202846;
}

.map {
    border: 3px solid #243B93;
    border-radius: 40px;
    overflow: hidden;
    max-width: 500px;
    max-height: 300px;
}


.footer-rights {
    background-color: #243B93;
    padding-top: 12px;
    padding-bottom: 12px;
}

.rights-text {
    color: #FFF;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    padding-left: 300px;
    vertical-align: middle;
    letter-spacing: 0.16em;
}

.rights-text-part {
    margin-left: 10px;
    letter-spacing: 0.16em;
}

