* {
    padding: 0;
    margin: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 7px;
}

.main-box {
    max-width: 755px;
    display: grid;
    grid-template-columns: 33% 1fr 1fr;
    grid-template-rows: repeat(5 auto);
    gap: 14px 22px;
    background: #FFB084;
    border-radius: 20px;
    padding: 30px 45px;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}

.main-box div {
    border-radius: 20px;
    background: #fff;
    padding: 15px 22px;
}

.box-hero {
    box-shadow: 7px 7px 0px #000000;
    font-style: normal;
    font-size: 12px;
    text-align: center;
    grid-row: 1 / 5;
}

.box-hero h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 17px;
}

.box-hero img {
    margin-bottom: 17px;
}

.box-hero ul {
    list-style: none;
    padding: 0;
}

.box-hero ul li {
    text-align: start;
    margin-bottom: 10px;
}

.box-hero ul li span {
    font-weight: 600;
}

.text-pronouns {
    margin-left: 20px;
}

.box-bio {
    grid-column: 2 / 4;
    box-shadow: 7px 7px 0px #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.box-slogan {
    grid-row: 5 / 6;
    box-shadow: 7px 7px 0px #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.box-goals {
    box-shadow: 7px 7px 0px #29A71E;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    grid-row: 2 / 3;
}

.box-goals h2 {
    color: #29A71E;
    font-weight: 700;
}

.box-companies {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 7px 7px 0px #3675B0;
    grid-row: 3 / 6;  
}

.box-companies h2 {
    color: #3675B0;
    font-weight: 700;
}

.box-frustrations {
    box-shadow: 7px 7px 0px #E13535;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    grid-row: 2 / 4;
}

.box-frustrations h2 {
    color: #E13535;
    font-weight: 700;
}

.personality {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    box-shadow: 7px 7px 0px #000000;
    grid-row: 4 / 6;
}

.personality h2 {
    font-weight: 700;
}

.personality p {
    margin: 0;
}

.box-goals ul,
.box-frustrations ul,
.box-companies ul {
    padding-left: 25px;
}