body {
    margin: 0;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.list {
    list-style-type: none;
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.1em;
}

.header-logo {
    text-align: center;
    margin-bottom: 30px;
}

.header-yellow,
.logo-yellow {
    color: #E8C23E;
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.45;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header-blue, 
.logo-blue {
    color: #3E45E8;
    font-family: 'M PLUS 1', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.45;
    letter-spacing: 0.1em;
    margin-right: 10px;
    text-transform: uppercase;
}

.hero-container {
    background-image: url('../img/man_with_flag.svg');
    /* width: 100%; */
    background-size: cover;
    background-position: center;
    padding: 240px 80px;
}

.hero-title {
    font-style: normal;
    color: #FFFFFF;
    font-size: 48px;
    line-height: 1.5;
    text-transform: uppercase;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}

.flag-vertical {
    width: 23px;
    height: 290px;
    margin-right: 22px;
}

.title-places {
    font-style: normal;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-left: 80px;
    margin-bottom: 2px;
}

.img-list {
    text-align: center;
}

.img-list > div {
    width: 391.2px;
    height: 481px;
    border: 5px solid #0D095F;
    border-radius: 30px;
    margin: 20px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0px 21px 35px;
}

.img-place {
    width: 100%;
}

.place-title {
    color: #0072DB;
    font-style: normal;
    font-size: 24px;
    line-height: 1.5;
    padding-left: 15px;
    text-align: left;
}

.place-text {
    color: #FF9900;
    font-style: normal;
    font-weight: 400;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 15px;
    text-align: left;
}


.container-slogan {
    text-align: center;
}

.slogan-title {
    font-style: normal;
    font-size: 40px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 2px;
    text-align: center;
}

.img-map {
    text-align: center;
    margin-top: 30px;
}

.photo-Ukraine {
    width: 1000px;
}

.container-button {
    text-align: center;
}

.button {
    background-color: #2A61F0;
    width: 499px;
    height: 81px;
    border: 0;
    border-radius: 100px;  
    cursor: pointer;  
    margin-top: 30px; 
    margin-bottom: 30px;  
}

.button-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
}

footer {
    background-color: rgba(13, 6, 97, 1);
    text-align: center;
}

.footer-logo {
    margin: 0;
}

.list-contacts {
    margin: 1px;
}

.list-email, .list-tel {
    color: #A89D9D;
    font-family: 'Marcellus SC';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    text-decoration: none;
    list-style-type: none;
}

.list-icons {
    margin: 0;
    padding: 0px 0px 20px 0px;
}

.list-icons > li {
    display: inline-block;
    margin: 10px;
    list-style-type: none;
}

